/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* Main Nav */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 18px;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    position: relative;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    float: left;
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.sub-menu li {
    display: none;
}

.sub-menu {
    position: absolute;
}

.main-nav:hover .sub-menu {
    display: block;
}

/* Main NAV*/

.mobile-nav-icon {
    float: right;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;

}


/* sticky nav */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(4, 35, 58, 0.98);
    box-shadow: 0 1px 1px rgb(21, 40, 54);
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 8px 0;
    color: #dfdfdf;
    
}

.sticky .fox-swap span {
    color: #dfdfdf;
    
}

/* HEADER */
header {
    background-color: #152836;

}

.logo {
    height: 60px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-header {
    position: relative;
}

.fox-swap {
    position: absolute;
    bottom: -65px;
    left: 65px;
    color: red;
}

.fox-swap span {
    color: #fff;
}

h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 100%;
    word-spacing: 4px;
    letter-spacing: 1px;
    float: left;
}

.text-header p {
    font-size: 90%;
    line-height: 145%;

}

.calculator img {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #ccc;
    -webkit-box-shadow: 2px 2px 8px #ccc;
    -moz-box-shadow: 2px 2px 8px #ccc;
    margin-bottom: 20px;
    align-items: center;
}


/* BUTTON */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 6px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-top: 20px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}



/* Heading */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 100%;
    word-spacing: 4px;
    letter-spacing: 1px;
    float: left;
}


h2 {
    margin-top: 20px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.long-copy {
    text-align: center;
}


/*------- Foxswap platform ---------*/

.foxswap-platform {
    background-color: #fff;
    
}


.col-left img {
    height: 50px;
    margin-top: 5px;
    margin-left: -40px;
}


.col-right img {
    height: 50px;
    margin-top: 5px;
    margin-left: -25px;
}

 ul {
    list-style: none;
}

.col-left p {
    text-align: center;
    padding-left: 60px;
    padding-right: 35px;
}

.col-left img {
    margin: -40px;
    margin-left: 30px;
}

.col-right p {
    text-align: center;
    padding-left: 12px;
    padding-left: 60px;
    padding-right: 35px;
}

.col-right img {
    margin: -40px;
    margin-left: 30px;
}

/*----------  FOX TOKEN ---------*/
.fox-token {
    background-color: #f4f4f4;
}


.box {
    border-radius: 5px;
    border-width:1px 0;
    list-style:none;
    text-align:center;
    padding-left: 100px;
    margin-bottom: 40px;
    margin-right: 100px;
}

.box li {
    display: inline-block;
    border: 1px solid #000;
    list-style: none;
    margin-top: 20px;
    padding: 100px 75px 100px 75px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Token metrics */

.token-metrics {
    margin-bottom: 50px;
}

.box-token {

    border-width:1px 0;
    list-style:none;
    margin:20px;
    text-align:center;
}

.box-token li {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    border: 1px solid #000;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}


/* table */

table,
td,
th {
    padding-left: 5px;
    border: 1px solid #333;
    padding: 10px;
}

thead,
tfoot {
    
    background-color: #e67e22;
    color: #fff;
}



/*ROADMAP OF FOXSWAP*/

.roadmap-img {
    width: 100vmax;
}



/* Footer */

footer {
    background-color: rgba(4, 35, 58, 0.98);
}

footer ul li {
    color: #888;
    cursor: pointer;
}

.footer-right {
    padding-left: 200px;
}


footer ul li:hover {
    color: aqua;
}

.subcribe-footer {
    margin-top: 50px;
}

.subcribe {
    
    background-color: #0c2d35;
    border: none;
    font-weight: 400;
    padding: 3px;
    color: #fff;
    border-radius: 5px;
    outline: none;
}
.subcribe:hover {
    color: aqua;
}


input[type=email] {
    outline: none;
    background-color: #565656;
    border: 1px solid #20b58b;
    color: #fff;
    padding: 4px;
    font-size: 18px;
}

.community {
    padding-top: 10px;
}

.social-media li {
    display: inline;
    padding: 10px;
}

.social-media li a {
    color: #888;
}

.social-media li:hover a {
    color: blueviolet;
}